body {
	width: 100%;
	white-space: nowrap;
	padding: 50px 50px 0 80px;
}

#container {
	padding: 0 80px ;
	font-family: Helvetica;
	font-weight: 100
}

#text-section {
	margin-top: 100px;
	display: inline;
}

.text-section #greeting {
	position: relative;
	left: -25px;
	font-size: 40px;
}

.link {
	color: #dd4d67;
}

#greeting {
	margin-left: -20px;
	font-size: 45px;
}

#content{
	margin-top: 40px;
	font-size: 25px;
}

#text-section p {
	padding: 10px 0;
}

#project_list {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 90px;
}

.portfolio-caption {
	font-size: 30px;
	color: #19458c;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}

.text-muted {
	font-size: 25px;
	font-family: "Droid Serif","Helvetica Neue",
	Helvetica,Arial,sans-serif;
	font-style: italic;
}

.col-md-4 {
	width: 33.33333333%
}

.to_the_right {
	padding-left: 16%;
}



