body {
	display: block;
}

header {
	background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#mainNav {
	overflow: hidden;
	background-color: rgba(18, 41, 84, 0.4);
	padding: 8px 0;
	position: fixed;
	width: 100%;

}

#mainNav a {
	color: white;
}

.nav-right {
	float: right;
	margin: 0 15px;
}

.nav-left {
	float: left;
}

.page-scroll {
	padding-right:
}

a {
	background-color: transparent;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	font-size: 20px;
	font-family: Helvetica;
}

header .intro-text {
	padding-top: 220px;
	padding-bottom: 90px;
	margin-bottom: 200px;

}

header .intro-title {
	color: white;
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 20px;
	white-space: pre;
}

header .intro-summary {
	margin-right: 50px;
	color: white;
	font-size: 25px;
	font-style: italic;

	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em black; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
      typing 8s steps(50, end),
      blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}


span {
	font-style: normal;
	color: black;
}

.center {
	text-align: center;
}

.bg-light-gray {
	background: #eee;
}


section {
	margin-bottom: 30px;
}

.section-heading {
	text-transform: uppercase;
	font-weight: bold;
	padding: 50px 0;
	font-size: 30px;
}

#about .section-heading {
	margin-top: -15px;
}


#greeting {
	padding: ;
	margin-left: -20px;
	font-size: 30px;
}

#text-section {
	margin-left: 12%;
}

#skills {
	padding-top: 40px;
	padding-left: 45%;
}
.col-md-4 {
	padding: 0 15px;
}

#project-list .container {
	padding: 0 5%;
	padding-bottom: 60px;
}

#project-list .row {
	margin-bottom: 50px;
}
.project-heading {
	width: 40%;
}

.project-title {

}

.project-image {
	width: 100%;
}

.project-description {
	margin-left: 45%;
}

.description {
	padding-top: 10px;
    font-size: 25px;
}



.portfolio-link {
	width: 10;
}


/*

  <div class="portfolio-caption">
      <h2>Guessing Game</h2>
      <p class="text-muted">Javascript, HTML, CSS</p>
  </div>

</div>

*/

